nav .navbar-brand {
  /* size for brand */
  font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue {
  color: #537fbe;
}
nav .navbar-brand .red {
  color: #ea433b;
}
nav .navbar-brand .yellow {
  color: #f5b82e;
}
nav .navbar-brand .green {
  color: #2e944b;
}

main .form-control {
  /* center form controls */
  display: inline-block;

  /* override Bootstrap's 100% width for form controls */
  width: auto;
}

main {
  /* scroll horizontally as needed */
  overflow-x: auto;

  /* center contents */
  text-align: center;
}

main img {
  /* constrain images on small screens */
  max-width: 100%;
}

main .buy_desc {
  padding: 0.5rem;
  margin-top: 5rem;
  text-align: left;
}

main #cash_wrapper {
  margin-top: 5rem;
  border-top: 1px solid rgb(44, 43, 43);
}

main #current_cash {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/* Show red border if invalid */
main input:not(:placeholder-shown) {
  border-color: hsl(0, 67%, 50%);
}

main input:valid {
  border-color: hsl(120, 76%, 50%);
}

main #message {
  display: none;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;

}

main #message p {
  padding: 10px 35px;
  font-size: 18px;

}

main .valid {
  color: green;
}

main .valid::before {
  position: relative;
  left: -35px;
  content: '\2713';
}

main .invalid {
  color: red;
}

main .invalid::before {
  position: relative;
  left: -35px;
  content: '\0078';
}
