{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
        <table class="table">
        <thead>
        <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Date</th>
            <th scope="col">Shares</th>
            <th scope="col">Price</th>
            <th scope="col">TOTAL</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for row in rows %}
        <tr>
            <th scope="row">{{ row["symbol"] }}</th>
            <td>{{ row["date_purchased"] }}</td>
            <td>{{ row["shares"] }}</td>
            <td>{{ row["share_price"] }}</td>
            <td>{{ row["value"] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
